# Node
node_modules/
frontend/node_modules/

# Python
venv/
backend/venv/
__pycache__/

# Build
dist/
frontend/dist/

# Env
.env

# Logs
*.log

# ML models
*.pt
*.pth

# OS
.DS_Store
backend/train/dataset/